*{
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
  width: 100%;
}
#wrapper{
  width: 500px;
  height:800px;
  padding: 5px;
  margin: 0 auto;
  background-color: pink;

  header{
    width: 100%;
    height: 50px;
    h3{
      span{
        font-size: 20px;
      }
    }
  }

  #content{
    width: 100%;
    height: 400px;
    background-color: #fff;
    overflow: auto;
    div{
      width: auto;
      max-width: 90%;
      //border:1px solid black;
      //border-radius: 5px;
      h5{
        display: inline-block;
        //width: auto;
      }
      p{
        //display: inline-block;
        width: auto;
        border:1px solid black;
        border-radius: 5px;
      }
    }
  }

  #util{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: gray;
    input{
      width:100px;
      height: 30px;

    }
    .imageLable{
        position: relative;
        width: 100px;
        height: 30px;
        /* background-color: red; */
        display: inline-block;
        #sendImage{
          width: 100px;
          height:30px;
          position: absolute;
          //width: 52px;
          left: 0;
          top:0;
          opacity: 0;
          overflow: hidden;
        }
        }

      #emojiWrapper{
          width: 100%;
          height:200px;
          border: 1px solid #000;
          position: absolute;
          bottom: 50px;
          left: 0;
          background-color: grey;
          display: none;
        img{
          margin: 2px;
          padding: 2px;
          width: 25px;
          height: 25px;
        }
        img:hover{
          background-color: blue;
        }

      }
    }
  footer{
    width: 100%;
    height: 150px;
    background-color: #fff;
    #chatMsg{
      width: 80%;
      height: 100%;
      background-color: blanchedalmond;
      float: left;
    }
    input{
      width: 20%;
      height: 100%;
    }
  }
}


#login_wrapper{
  //display: none;
  position: absolute;
  width: 100%;
  height:100%;
  top: 0;
  background-color: grey;
  #nickWrapper{
    display: none;
  }
}

